 * {
     margin: 0px;
     padding: 0px;
 }

 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

 body {
     font-family: 'Mulish', sans-serif;
 }

 header {
     max-width: 1140px;
     margin: 0 auto;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 30px;
 }

 .logo {
     display: flex;
     gap: 20px;
     align-items: center;
 }

 .logo h3 {
     color: #131318;
     font-size: 36px;
     font-weight: 800;
 }

 .text-primary {
     color: #FF5400;
     font-size: 36px;
     font-weight: 800;
 }

 .navbar-container ul {
     display: flex;
 }

 .navbar-container ul li {
     list-style: none;
 }

 .navbar-container li a {
     text-decoration: none;
     margin-left: 40px;
     color: #424247;
     font-size: 18px;
     font-weight: 400;
 }

 .orange-text {
     color: #FF5400;
     font-size: 18px;
     font-weight: 700;
 }

 .icons {
     font-size: 2.8rem;
     color: #131318;
     cursor: pointer;
     display: none;
     position: absolute;
     right: 0;
 }

 .banner {
     margin-top: 60px;
     background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),

         url('../Images/Group\ 13\ \(1\)\ \(1\).png');
         background-repeat: no-repeat;
     width: 100%;
     height: 500px;
     border-radius: 16px;
     background-size: cover;
 }

 .banner h3,
 p,
 div {
     text-align: center;
 }

 .banner-title {
     padding: 106px 200px 24px;
     color: #FFF;
     font-size: 64px;
     font-weight: 700;

 }

 .banner-description {
     color: #FFF;
     text-align: center;
     font-size: 16px;
     font-weight: 400;
     width: 800px;
     margin: 0 auto;
     margin-bottom: 60px;
 }

 .input-field {
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.30);
     width: 780px;
     height: 60px;
     margin: 0 auto;
     border: 0px;
 }

 .input-field input,
 select,
 button {
     width: 174px;
     height: 40px;
     border-radius: 8px;
     background: #FFF;
     margin-top: 10px;
     border: 0px;
     margin-right: 10px;
 }

 .btn-primary {
     width: 170px;
     height: 40px;
     border-radius: 8px;
     background: #FF5400;
     color: #FFF;
     text-align: center;
     font-size: 16px;
     font-weight: 700;

 }

 .text {
     color: #FFF;
     text-align: center;
     font-family: Mulish;
     font-size: 16px;
     font-weight: 700;
 }

 .input-text {
     color: rgba(19, 19, 24, 0.50);
     padding: 0px 10px;
     font-size: 16px;
     font-weight: 400;
 }